.formWrapper {
  padding-top: 10vh;
  display: flex;
  justify-content: center;
}
.form {
  width: 50vw;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  max-width: 100%;
}
.formItemWrapper {
  display: flex;
  flex-flow: column;
  margin-bottom: 4vh;
}
.formItem {
  background: none;
  display: flex;
  max-width: 100%;
  border-bottom: 1px solid white;
  input {
    max-width: 100%;
    flex: 1;
    padding: 11px 40px;
    background: none;
    border: none;
    color: white;
    font-family: $NunitoFont;
    font-size: 20px;
    outline: none;
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
    &:focus {
      max-width: 100%;
      flex: 1;
      padding: 11px 40px 11px 50px;
    }
  }
  i {
    padding: 11px 10px;
    align-self: center;
    color: white;
    font-size: 20px;
  }
}
.titleForm {
  color: white;
  font-family: $AlataFont;
  font-size: 40px;
  flex: 1;
  text-align: center;
}

.formButton  {
  padding: 20px;
  background: #9a7eb3;
  border: none;
  color: wheat;
  font-size: 20px;
  font-family: $NunitoFont;
  &:hover{
    cursor:pointer;
  }
}
.errorMessage {
  font-size: 17px;
  margin-bottom: 0;
  text-align: right;
  color: gold;
  font-family: $FredokaOneFont;
}
.warning {
  color: gold !important;
}
.formWarning {
  border-bottom: 1px solid gold;
}
@media screen and (max-width: 768px) {
  .form {
    width: 100vw;
  }
}
