// .formWrapper {
//   padding-top: 10vh;
//   display: flex;
//   justify-content: center;
// }
// .form {
//   width: 50vw;
//   display: flex;
//   flex-flow: column;
//   flex-wrap: wrap;
//   max-width: 100%;
// }
// .formItemWrapper {
//   display: flex;
//   flex-flow: column;
//   margin-bottom: 4vh;
// }
// .formItem {
//   background: none;
//   display: flex;
//   max-width: 100%;
//   border-bottom: 1px solid white;
//   input {
//     max-width: 100%;
//     flex: 1;
//     padding: 11px 40px;
//     background: none;
//     border: none;
//     color: white;
//     font-family: $NunitoFont;
//     font-size: 20px;
//     outline: none;
//     -webkit-transition: all 0.5s 0s ease;
//     -moz-transition: all 0.5s 0s ease;
//     -o-transition: all 0.5s 0s ease;
//     transition: all 0.5s 0s ease;
//     &:focus {
//       max-width: 100%;
//       flex: 1;
//       padding: 11px 40px 11px 50px;
//     }
//   }
//   i {
//     padding: 11px 10px;
//     align-self: center;
//     color: white;
//     font-size: 20px;
//   }
// }
// .titleForm {
//   color: white;
//   font-family: $AlataFont;
//   font-size: 40px;
//   flex: 1;
//   text-align: center;
// }

// .formButton  {
//   padding: 20px;
//   background: #9a7eb3;
//   border: none;
//   color: wheat;
//   font-size: 20px;
//   font-family: $NunitoFont;
//   &:hover{
//     cursor:pointer;
//   }
// }
// .errorMessage {
//   font-size: 17px;
//   margin-bottom: 0;
//   text-align: right;
//   color: gold;
//   font-family: $FredokaOneFont;
// }
// .warning {
//   color: gold !important;
// }
// .formWarning {
//   border-bottom: 1px solid gold;
// }
// @media screen and (max-width: 768px) {
//   .form {
//     width: 100vw;
//   }
// }
.form{
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
  height: 100%;
  justify-content: center;
}
.formTitle{
  font-family: $PoppinFont;
  color:blanchedalmond;
  font-size: 16px;
  font-weight: bold;

}
.formInputWrapper{
  display: flex;
  justify-content: center;
  align-items:center;
  height: 40px;
  // padding:35px 0 ;
  padding:clamp(15px,3.5vh,35px) 0;
  // margin-top:clamp(18px,3vh,25px);;
  width: 100%;
  max-width: 450px;
  svg{
    width: clamp(18px,3vw,25px);
    height: 40px;
    color:white;
  }
}

.inputField{
  background:none;
  border:none;
  outline: none;
  font-size: clamp(16px, 1.5vw, 17px);
  border-radius: 0;
  padding: 8px 0;
  color:white;
  border-bottom: 1px solid white;
  margin-left: 10px;
  width: calc(100% - 10px - 25px);
  transition:0.5s;
  &:focus{
    margin-left: 20px;
  }
}
.formButton{
  appearance: none;
  border-radius: 0 !important;
  width: 100%;
  height: 50px;
  border: none;
  background-color: $secondaryColor !important;
  color: white;
  max-width: 450px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}
#leftHand{
  transform-origin: center;
  // transition:0.5s;
  animation: draw 2s infinite;
}
.errorMessage{
  text-align: left;
  width: 100%;
  max-width: 450px;
  color: #FFF618;
  font-size: 12px;
}
@keyframes draw{
  0%{
    transform: rotate(0) translate(0);
  }
  50%{
    transform:rotate(30deg) translate(50px,-40px);
  }
  100%{
    transform:rotate(0) translate(0);
  }
}
// #registerSvg{

// }
// @media (orientation:portrait){

// }