$mainColor: #270d0d;
$purple: #878294;
$red: #82060c;
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
$AlataFont: 'Alata', sans-serif;
$NunitoFont: 'Nunito', sans-serif;
$FredokaOneFont: 'Fredoka One', cursive;
.App {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  background-image: url('../Image/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  flex-flow: column;
  padding: 0 50px 50px 50px;
}

@import './Component/Navbar/Navbar.scss';
@import './Component/Home/Home.scss';
@import './Component/Register/Register.scss';
@import './Component/Login/Login.scss';
@import './Component/DashBoard/DashBoard.scss';
