$mainColor: #270d0d;
$purple: #878294;
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
.App {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  background-image: url('../Image/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  flex-flow: column;
  padding: 0 50px;
}

@import './Component/Navbar/Navbar.scss';
@import './Component/Home/Home.scss';
@import './Component/Register/Register.scss';
@import './Component/Login/Login.scss';
