
.leftSide-wrapper {
  height: 100%;
  width: 200px;
  display: flex;
  flex-flow: column;
   align-items: center;
  position:absolute;
  background-color: $mainColor;
 }

.btn_menu{
  width: 180px;
  display: flex;
  height: 40px;
  padding-left: 40px;
  align-items: center;
  border-radius: 6px;
   &:hover {
      cursor: pointer;
      text-decoration: none;
    }
  i{
    font-size: 18px;
    color: white;

  }
  div{
    color:white;
    font-family: $PoppinFont;
    font-size: 14px;
    margin-left: 10px;
    font-weight: 500;
    user-select: none;
  }
}
.logoMenu{
  width: 100px;
  margin-top: 10px;
  margin-bottom: 100px;
}
.selectMenu{
  background-color: $thirdColor;
}

@media only screen and (min-width: 993px){
  .leftSide-wrapper {
    position:relative;

   }
  
}