.leftSide-wrapper {
  height: 100%;
  width: 150px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;

  .menu {
    width: 110px;
    height: 110px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
    background: none;
    border: none;
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
    &:focus {
      background-color: #514358;
    }
    i {
      color: white;
      font-size: 30px;
    }
    p {
      color: white;
      font-family: $AlataFont;
      margin: 0;
    }
  }
}
