//lanscape mode
.container{
    width: 100%;
    height: calc(100% - 50px);
    display:flex;
    justify-content: center;
    align-items: center;

}
.leftPage{
    height: 100%;
    width: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.rightPage{
    height: 100%;
    width: 50%;

    display: flex;
justify-content: center;
align-items: center;
    
}
.headLine{
    list-style-type: none;
    margin:0;
    padding:0;
    
    li{
        display: inline;
        font-family: $PoppinFont;
        font-weight: 700;
        font-size:clamp(25px,3vw,50px);
        
        color:$secondaryColor;
        &:nth-child(odd){
            color:$yellowColor;
        }
    }
}
.content{
    color:white;
    font-size: clamp(12px,1vw,15px);
    font-family: $RobotoFont;
    color:$greyColor;
}
.loginButton,.registerButton{
    height: clamp(30px,3vw,40px);
    width: clamp(100px,10vw,150px);
    font-family: $PoppinFont;
    background-color: $secondaryColor;
    border: none;
    border-radius: 5px;
    font-size: clamp(13px,1.5vw,15px);
    color:white;
    
}

.registerButton{
    background-color: transparent;
    border:1px solid white;
    margin-left: 10px;
}
.headLine,.content,.buttonWrapper{
    padding:20px 0;
}

@import './Svg.scss';
@media (orientation:portrait){
    .container{
        flex-flow: column;
    }
    .leftPage,.rightPage{
        width: 100%;
        height: 50%;
        align-items: center;
    }

    .headLine{
        text-align: center;
        li{
            font-size: clamp(25px,7vw,70px);
        }
    }
  
}
